:root {
  --point-red: #c42b2b;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  font-family: "Pretendard-Regular";
}
html {
  font-size: 62.5%;
}

body {
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.6rem;
  word-spacing: 7px;
}
